@import '/styles/vars';
@import '/styles/utils.module.scss';

.sliderInput {
    color: $light;
    flex-grow: 1;
    width: max-content;
    height: fit-content;
    text-align: center;
}


.slider {
    // flex-grow: 1;
    width: 70% !important;
    margin: 0 1vw;
}

.sliderWrapper {
    @extend .flexRow;
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 100%;
}